/* styles.css */
html {
    font-family: "Lucida Console", "Courier", monospace;
}

header {
    background-color: #004D26;
    text-align: center;
    color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    text-align: center;
}

footer {
    background-color: #004D26;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}
