/* styles.css */
html, body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #000000;
}

h1 {
    color: #000000;
}

p {
    font-size: 30px;
    color: #000000;
}
