/* styles.css */
html, body {
    font-family: "Lucida Console", "Courier", monospace;
}

.banner {
    background-color: #004D26;
    text-align: center;
}

.info {
    background-color: #FFFFFF;
    text-align: center;
}
